
# Streamlit updated to a version that supports click >= 8.0
streamlit
click==8.1.7
# Ensure chromadb and streamlit-chromadb-connection are compatible
requests
protobuf==4.25.3

pysqlite3-binary==0.5.4
chromadb==0.5.3
#langchain.text_splitter 
pypdf 
tqdm
uuid
langchain_community 
#langchain.text_splitter
sentence_transformers
#langchain.prompts
#langchain_core.output_parsers
#langchain_community.chat_models 
langchain
#langchain.schema 
#langchain_core.documents 
langgraph.checkpoint.sqlite 
#langgraph.graph 
langgraph
typing_extensions 
typing 
#operator
#langchain_core.messages 
langchain_openai 
#langchain_community.vectorstores 
#faiss
#langchain.embeddings.base
#langchain_experimental.text_splitter
#chromadb.utils 
streamlit_chromadb_connection
tornado>=6.0
